<nav>
	<span class="title">
		<a href="/">{{@blog.title}}</a>
	</span>
	<span class="nav">
	{{#foreach navigation}}
		<a href="{{url absolute="true"}}">{{label}}</a>&nbsp
	{{/foreach}}
	</span>
</nav>
